h1 {
	text-align: center;
}

#mainContentArea {
    margin: 2% 2% 0% 2%;
    padding: 2%;
    background-color: #EDF1FA;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#minion:hover {
	opacity: 0.5;
	cursor: pointer;
}

.champion{
	list-style-type: none;
}

.upgrade{
	list-style-type: none;
}

.tabs {
    text-align: center;
}

.tabs > ul {
    padding: 0px;
    margin: 0 2% 0 2%;
    list-style-type: none;
}

.tabs > ul > li {
    display: inline-block;
    clear: none;
    float: left;
    height: 24px;
    width: 25%;
}

.tabs > ul > li > a {
    position: relative;
    float: none;
    margin-top: 16px;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 24px;
    padding-left: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #EDF1FA;
    z-index: 9999;
    border: 1px solid #ccc;
    opacity: 0.5;
    /* The following four lines are to make the top left and top right corners of each tab rounded. */
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    /* end of rounded borders */
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#li_tab1 > a {
	margin-left: 0px;
}

#li_tab4 > a {
	margin-right: 0px;
}

.tabs > ul > li > a:hover {
    cursor: pointer;
    opacity: 0.6;
    /* a very simple effect when hovering the mouse on tab */
}

.tabs > ul > li.active > a {
	opacity: 1;
	border-bottom: 0px;
	line-height: 25px;
}

.tabs #Content_Area {
    /* this is the css class for the content displayed in each tab */
    margin: 0 2% 5% 2%;
    padding: 0 15px 0 15px;
    clear: both;
    line-height: 19px;
    position: relative;
    top: 31px;
    z-index: 1;
    height: 500px;
    background: #EDF1FA;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px #ccc;
}

.contentList {
    font-size: 1.5em;
    text-align: left;
}

.contentList li {
    margin: 2%;
}

#footer {
    height: 35px;
    background-color: white;
    margin: 0 2% 0 2%;
    padding: 12px 0 0 0;
    text-align: center;
    box-shadow: 0px 0px 3px white;
}